.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px 10px 10px;
}

.button_primary {
    cursor: pointer;
    height: 48px;
    border-radius: 8px;
    border-style: solid;
    background-color: var(--blue-2);
    color: var(--white);
}

.button_secondary {
    cursor: pointer;
    height: 48px;
    border-radius: 8px;
    border-style: solid;
    background-color: var(--purple);
    color: var(--white);
}

.button_alternate {
    cursor: pointer;
    height: 48px;
    border-radius: 8px;
    border-style: solid;
    background-color: var(--white);
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}

.button_primary:disabled {
    height: 48px;
    border-radius: 8px;
    border-style: solid;
    cursor: not-allowed;
    opacity: 50%;
}

.button_secondary:disabled {
    height: 48px;
    border-radius: 8px;
    border-style: solid;
    cursor: not-allowed;
    opacity: 50%;
}

.button_alternate:disabled {
    height: 48px;
    border-radius: 8px;
    border-style: solid;
    cursor: not-allowed;
    opacity: 50%;
}