/* Стилизация аккордеона */
.accordion__details {
    border-radius: 8px;
    border: 1px solid var(--grey-3);
    background: var(--white);
    padding: 24px 32px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.accordion__details:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    list-style: none; 
    cursor: pointer;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.accordion__text {
    padding-top: 16px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--grey-4);
}