.histogram {
    display: flex;
    flex-direction: column;
    color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--grey-3);
    background-color: var(--white);
    box-sizing: content-box;
    padding: 16px 24px 24px 24px;
}

.histogram__text {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;

}

.histogram__name {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.histogram__link {
    color: var(--blue-4);
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
    position: relative;
    top: 3px;
    margin-top: 3px;
}

.histogram__data {
    color: var(--black);
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.histogram__block {
    display: flex;
    align-items: flex-end; 
    height: 50px;
    gap: 1px;
}

.histogram__column {
    flex-grow: 1;
    background-color: var(--blue-4);
}