.skeleton {
    border: 1px solid var(--grey-3); 
    width: 579px;
    height: 192px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: var(--white);
    border-radius: 8px;
}

.skeleton__header {
    display: flex;
    padding-top: 24px;
    padding-left: 24px;
}

.skeleton__header-img {
    width: 64px;
    height: 64px;
    background-color: var(--grey-2);
    border-radius: 50%;
}

.skeleton__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 16px;
    height: 56px;
}

.skeleton__line {
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__description {
    padding-top: 24px;
    padding-left: 24px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}